/* Navbar.css */
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(10deg);
    }
    


  }
.navbar-brand {
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFD700;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, color 0.3s ease;
    animation: rotate 2s linear infinite;
  }
  
  .navbar-brand:hover {
    transform: rotate(-10deg);
    color: #ffeb3b; /* Lighter golden color on hover */
  }
  
  .nav-link {
    color: #f8f9fa;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #FFD700; /* Change color on hover */
  }
  
